@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:wght@300;400;700&family=Orbitron:wght@400;800&family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #fe5e41;
}
@media screen and (max-width: 500px) {
  .main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 70px;
  }
}
.main-header .mobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .main-header .mobile {
    display: block;
    margin-right: 10px;
  }
  .main-header .mobile img {
    margin-right: 20px;
  }
}
.main-header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .container .logo {
  margin-right: 20px;
}
@media screen and (max-width: 500px) {
  .main-header .container .logo img {
    width: 105px;
    height: 28px;
  }
}
.main-header .main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .main-header .main-nav {
    display: none;
  }
}
.main-header .main-nav .input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 256px;
  height: 56px;
  border: 0.5px solid #f2f2f2;
  border-radius: 4px 4px 0px 0px;
  padding: 3px;
  background-color: #f2f2f2;
}
.main-header .main-nav .input-container input {
  border: none;
  outline: none;
  background-color: transparent;
}
.main-header .main-nav .input-container input::placeholder {
  font-size: 14px;
}
.main-header .icons-container {
  display: flex;
  gap: 30px;
  line-height: 18px;
}
.main-header .icons-container .user-icon img {
  width: 18px;
  height: 20px;
}
.main-header .icons-container .hearth-icon img {
  width: 20px;
  height: 20px;
}
.main-header .icons-container .cart-icon {
  width: 23px;
  height: 20px;
  position: relative;
}
.main-header .icons-container .cart-icon .counter-container .counter {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 13px;
  top: 8px;
}
.main-header .icons-container .cart-icon .counter-container span {
  position: absolute;
  color: #ffffff;
  left: 18px;
  top: 8px;
  font-size: 13px;
  z-index: 100;
}
.main-header a {
  text-decoration: none;
  color: #ffffff;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
}
.main-header .nav-links .nav-link {
  position: relative;
  margin-right: 9px;
}
.main-header .nav-links .nav-link a {
  margin: 0 20px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Inter";
}
.main-header .nav-links .nav-link a:hover,
.main-header .nav-links .nav-link .active {
  color: black;
}
.main-header .nav-links .nav-link:hover::after,
.main-header .nav-links .nav-link .active::after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 12px;
  width: 80%;
  border-bottom: 5px solid black;
}
.main-header .nav-links .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -47px;
  left: 0;
  width: 80%;
  border-bottom: 5px solid black;
}
.main-header .nav-links .underline {
  width: 97px;
  height: 5px;
  background-color: black;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}
.main-container .left-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 80px;
}
.main-container .left-container .links {
  display: flex;
}
@media screen and (max-width: 500px) {
  .main-container .left-container .links {
    margin-top: 31px;
    margin-left: 20px;
  }
}
.main-container .left-container .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 5px;
}
.main-container .left-container .links ul .link a {
  color: #1e1e1e;
  font-family: "Inter";
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  margin-right: 10px;
}
.main-container .left-container .links ul img {
  margin-right: 10px;
}
.main-container .left-container .title {
  color: #1e1e1e;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
  .main-container .left-container .title {
    font-size: 28px;
    line-height: 36px;
    margin: 22px 0 0 23px;
  }
}
.main-container .left-container .image-container {
  width: 696px;
  height: 392px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 36px;
}
.main-container .left-container .image-container .bicycle-img {
  width: 616;
  height: 370;
}
.main-container .left-container .image-container .image-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}
.main-container .right-container {
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
}
.main-container .right-container .details-container {
  width: 488px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 32px;
}
.main-container .right-container .details-container p {
  color: #1e1e1e;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.main-container .right-container .details-container span {
  color: #fe5e41;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.main-container .right-container .details-container .details-text {
  font-family: "Inter";
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 500px) {
  .main-container .right-container .details-container .details-text {
    font-size: 14px;
    margin-top: 8px;
  }
}
.main-container .right-container .details-container .dropdowns-container {
  display: flex;
  justify-content: space-around;
}
.main-container .right-container .details-container .dropdowns-container .dropdown {
  width: 200px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #f2f2f2;
  border-radius: 4px 4px 0px 0px;
  padding: 3px;
  margin-right: 5px;
  background-color: #ffffff;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-left: 8px;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .left-side .drop-paragraph {
  color: #6e6e6e;
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .left-side .desc-paragraph {
  color: #1e1e1e;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .left-side img {
  margin-right: 8px;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-left: 8px;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .right-side .drop-paragraph {
  color: #6e6e6e;
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .right-side .desc-paragraph {
  color: #1e1e1e;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.main-container .right-container .details-container .dropdowns-container .dropdown .right-side img {
  margin-right: 8px;
}
.main-container .right-container .details-container .checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0px;
  gap: 12px;
}
.main-container .right-container .details-container .checkbox-container .checkbox {
  display: flex;
  align-items: center;
}
.main-container .right-container .details-container .checkbox-container .checkbox input[type=checkbox] {
  border: none;
  width: 20px;
  height: 20px;
}
.main-container .right-container .details-container .checkbox-container .checkbox label {
  width: 80%;
  display: flex;
  padding: 5px 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
}
.main-container .right-container .details-container .checkbox-container .checkbox-paragraph {
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: 400;
  margin-left: 8px;
}
.main-container .right-container .details-container .buttons-container {
  display: flex;
  gap: 8px;
}
.main-container .right-container .details-container .buttons-container .add-btn {
  width: 140px;
  height: 48px;
  border-radius: 4px;
  background-color: #00a878;
  font-family: "Poppins";
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
.main-container .right-container .details-container .buttons-container .add-btn:hover {
  background-color: #ffffff;
  color: #00a878;
}
.main-container .right-container .details-container .buttons-container .contact-btn {
  width: 140px;
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  color: #00a878;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #dedede;
  cursor: pointer;
}
.main-container .right-container .details-container .buttons-container .contact-btn:hover {
  background-color: #00a878;
  color: #ffffff;
}

.description-container ul {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 500px) {
  .description-container ul {
    justify-content: center;
  }
}
.description-container ul .desc-link {
  margin-top: 60px;
}
.description-container ul .desc-link a {
  color: #1e1e1e;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  margin-right: 16px;
}

.right-icons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.right-icons-container .right-side {
  display: flex;
  justify-content: space-evenly;
}
.right-icons-container .right-side .img {
  margin-right: 10px;
}
.right-icons-container .right-icons {
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 20px;
}

.mobile-icons-container,
.mobile-description-container {
  display: none !important;
}

@media screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }
  .left-container {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  .right-container {
    margin-top: 0 !important;
    margin-right: 0 !important;
  }
  .image-container {
    width: 100% !important;
    height: 200px !important;
  }
  .image-container .bicycle-img {
    width: 80% !important;
    height: unset !important;
  }
  .details-container {
    width: 90% !important;
    margin: 20px;
    height: 524px !important;
  }
  .dropdowns-container {
    flex-direction: column;
  }
  .dropdown {
    width: 100% !important;
    margin: 4px 0 !important;
    margin-top: 10px !important;
  }
  .description-container,
  .right-icons-container {
    display: none !important;
  }
  .mobile-icons-container,
  .mobile-description-container {
    display: flex !important;
    justify-content: flex-end;
  }
  .mobile-description-container {
    justify-content: center;
  }
  .mobile-icons-container {
    margin-top: -20px;
    margin-right: 30px;
  }
  .right-side-actions {
    width: 70% !important;
  }
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #bdbdbd;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #00a878;
  border: 1px solid #00a878;
  border-radius: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.product-desctiption-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.product-desctiption-section .prod-desc-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.product-desctiption-section h1 {
  color: #1e1e1e;
  font-family: "Pippins";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.product-desctiption-section .desc-paragraph {
  width: 488px;
  height: 256px;
}
.product-desctiption-section p {
  color: #1e1e1e;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.product-desctiption-section .info-btn {
  width: 140px;
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  color: #fe5e41;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #dedede;
  margin-top: 25px;
  cursor: pointer;
}
.product-desctiption-section .info-btn:hover {
  background-color: #fe5e41;
  color: #ffffff;
}
.product-desctiption-section img {
  margin-top: 40px;
  margin-right: 35px;
}

@media screen and (max-width: 900px) {
  .product-desctiption-section {
    flex-direction: column-reverse !important;
  }
  .product-desctiption-section img {
    width: 100%;
    margin-top: 30px;
  }
  .desc-paragraph {
    width: 100% !important;
    height: unset !important;
    font-size: 24px;
    line-height: 32px;
  }
}
.table-section {
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 30px;
}
.table-section .table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.table-section h1 {
  color: #1e1e1e;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-top: 30px;
  margin-left: 85px;
}
@media screen and (max-width: 900px) {
  .table-section h1 {
    margin: 0px;
    text-align: start;
  }
}
.table-section table {
  border-collapse: collapse;
  width: 88%;
}
.table-section table th {
  color: #fe5e41;
  text-align: left;
  padding: 8px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.table-section table td {
  color: #1e1e1e;
  text-align: left;
  padding: 8px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.table-section table tr:nth-child(even) {
  background-color: #ffffff;
}
@media screen and (max-width: 900px) {
  .table-section .table-container {
    overflow: scroll;
  }
  .table-section .table-container table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table-section .table-container table tbody {
    display: table;
    width: 100%;
  }
}

.modal {
  opacity: 1;
  width: 480px;
  margin: 412px;
  z-index: 10000000;
  left: calc(50% - 240px);
}
@media screen and (max-width: 500px) {
  .modal {
    width: 100%;
    height: 436px;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content form {
  width: auto;
  max-width: 100%;
  height: auto;
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--semi-black);
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.modal-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.modal-body p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.modal-body input {
  width: 416px;
  height: 56px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 18px;
  border: none;
  outline: none;
  border-radius: 4px 4px 0 0;
  background-color: #f2f2f2;
  padding: 15px;
}
.modal-body textarea {
  width: 100%;
  height: 128px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 18px;
  border: none;
  outline: none;
  border-radius: 4px 4px 0 0;
  background-color: #f2f2f2;
  padding: 15px;
}

.modal-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.modal-footer button {
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  height: 48px;
  color: #ffffff;
  font-size: 16px;
  background-color: #fe5e41;
  cursor: pointer;
}

.modal-footer button#cancel {
  background-color: transparent;
  color: #fe5e41;
  border: none;
}

@media screen and (max-width: 500px) {
  input {
    width: 100% !important;
  }
}