.main-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $medium-gray;
  margin-bottom: 20px;

  .left-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 80px;

    .links {
      display: flex;
      @media screen and (max-width: 500px) {
        margin-top: 31px;
        margin-left: 20px;
      }
    }

    .links ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 5px;

      .link {
        a {
          color: $semi-black;
          font-family: "Inter";
          font-size: $smal-font-size;
          line-height: $link-line-height;
          text-decoration: none;
          margin-right: 10px;
        }
      }
      img {
        margin-right: 10px;
      }
    }
    .title {
      color: $semi-black;
      font-family: "Poppins";
      font-weight: 600;
      font-size: $title-font-size;
      line-height: $title-line-height;
      margin-top: 30px;
      @media screen and (max-width: 500px) {
        font-size: $mobile-title-fs;
        line-height: $lg-line-height;
        margin: 22px 0 0 23px;
      }
    }

    .image-container {
      width: 696px;
      height: 392px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 36px;

      .bicycle-img {
        width: 616;
        height: 370;
      }

      .image-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $light-gray;
        cursor: pointer;
      }
    }
  }
  .right-container {
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 50px;

    .details-container {
      width: 488px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: $light-gray;
      margin-top: 50px;
      padding: 32px;

      p {
        color: $semi-black;
        font-family: "Inter";
        font-weight: 600;
        font-size: $base-font-size;
        line-height: $base-line-height;
      }
      span {
        color: $orange;
        font-family: "Inter";
        font-weight: 600;
        font-size: $base-font-size;
        line-height: $base-line-height;
      }
      .details-text {
        font-family: "Inter";
        font-weight: 400;
        color: $semi-black;
        font-size: $base-font-size;
        line-height: $base-line-height;

        @media screen and (max-width: 500px) {
          font-size: $placeholder-font-size;
          margin-top: 8px;
        }
      }
      .dropdowns-container {
        display: flex;
        justify-content: space-around;
        .dropdown {
          width: 200px;
          height: 56px;
          display: flex;
          justify-content: space-between;
          border: 0.5px solid $light-gray;
          border-radius: 4px 4px 0px 0px;
          padding: 3px;
          margin-right: 5px;
          background-color: $white;

          .left-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            margin-left: 8px;

            .drop-paragraph {
              color: $darkest-gray;
              font-family: "Inter";
              font-weight: 400;
              font-size: $xs-font-size;
              line-height: $link-line-height;
            }
            .desc-paragraph {
              color: $semi-black;
              font-family: "Inter";
              font-weight: 400;
              font-size: $checkbox-text-size;
              line-height: $link-line-height;
            }
            img {
              margin-right: 8px;
            }
          }
          .right-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            margin-left: 8px;
            .drop-paragraph {
              color: $darkest-gray;
              font-family: "Inter";
              font-weight: 400;
              font-size: $xs-font-size;
              line-height: $link-line-height;
            }
            .desc-paragraph {
              color: $semi-black;
              font-family: "Inter";
              font-weight: 400;
              font-size: $checkbox-text-size;
              line-height: $link-line-height;
            }
            img {
              margin-right: 8px;
            }
          }
        }
      }
      .checkbox-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px 0px;
        gap: 12px;
        .checkbox {
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            border: none;
            width: 20px;
            height: 20px;
          }

          label {
            width: 80%;
            display: flex;
            padding: 5px 0px;
            font-family: "Inter";
            font-weight: 400;
            font-size: $placeholder-font-size;
            cursor: pointer;
            padding: 5px 10px;
          }
        }
        .checkbox-paragraph {
          font-size: $checkbox-text-size;
          line-height: $base-line-height;
          font-family: "Inter";
          font-weight: 400;
          margin-left: 8px;
        }
      }
      .buttons-container {
        display: flex;
        gap: 8px;
        .add-btn {
          width: 140px;
          height: 48px;
          border-radius: 4px;
          background-color: $green;
          font-family: "Poppins";
          font-weight: 600;
          color: $white;
          font-size: $base-font-size;
          line-height: $base-line-height;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: $white;
            color: $green;
          }
        }
        .contact-btn {
          width: 140px;
          height: 48px;
          border-radius: 4px;
          background-color: $white;
          font-family: "Poppins";
          font-weight: 600;
          color: $green;
          font-size: $base-font-size;
          line-height: $base-line-height;
          border: 1px solid $medium-gray;
          cursor: pointer;
          &:hover {
            background-color: $green;
            color: $white;
          }
        }
      }
    }
  }
}

.description-container ul {
  display: flex;
  list-style: none;
  @media screen and (max-width: 500px) {
    justify-content: center;
  }

  .desc-link {
    margin-top: 60px;
  }

  .desc-link {
    a {
      color: $semi-black;
      font-family: "Inter";
      font-size: $base-font-size;
      font-weight: 600;
      line-height: $base-line-height;
      text-decoration: none;
      margin-right: 16px;
    }
  }
}

.right-icons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  .right-side {
    display: flex;
    justify-content: space-evenly;
    .img {
      margin-right: 10px;
    }
  }
  .right-icons {
    color: $semi-black;
    font-size: $medium-font-size;
    font-weight: 400;
    line-height: $icon-line-height;
    margin-left: 20px;
  }
}
.mobile-icons-container,
.mobile-description-container {
  display: none !important;
}

@media screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }
  .left-container {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  .right-container {
    margin-top: 0 !important;
    margin-right: 0 !important;
  }
  .image-container {
    width: 100% !important;
    height: 200px !important;

    .bicycle-img {
      width: 80% !important;
      height: unset !important;
    }
  }

  .details-container {
    width: 90% !important;
    margin: 20px;
    height: 524px !important;
  }
  .dropdowns-container {
    flex-direction: column;
  }
  .dropdown {
    width: 100% !important;
    margin: 4px 0 !important;
    margin-top: 10px !important;
  }
  .description-container,
  .right-icons-container {
    display: none !important;
  }
  .mobile-icons-container,
  .mobile-description-container {
    display: flex !important  ;
    justify-content: flex-end;
  }
  .mobile-description-container {
    justify-content: center;
  }
  .mobile-icons-container {
    margin-top: -20px;
    margin-right: 30px;
  }
  .right-side-actions {
    width: 70% !important;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-family: "Inter";
  font-weight: 400;
  font-size: $placeholder-font-size;
  line-height: $base-line-height;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $light-gray;
  border: 1px solid $dark-gray;
  border-radius: 2px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: $dark-gray;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $green;
  border: 1px solid $green;

  border-radius: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
