// theme color

$orange: #FE5E41;
$green: #00A878;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$medium-gray: #DEDEDE;
$dark-gray: #BDBDBD;
$semi-black: #1E1E1E;
$darkest-gray: #6E6E6E;
$black: black;


//font sizes 
$placeholder-font-size: 14px;
$navlinks-font-size: 18px;
$title-font-size: 40px;
$smal-font-size: 13px;
$base-font-size: 16px;
$medium-font-size:20px;
$link-line-height: 18px;
$icon-line-height: 20px;
$base-line-height: 24px;
$title-line-height: 48px;